.indexImg {
    height: 50px;
    width: 80px;
    margin-bottom: 10px;
    margin-right:10px;
}

.btnGreen {
    width: 100%;
}

.btnBlue {
    width: 100%;
    margin-top: 10px;
}

.btnRed {
    width: 100%;
}

.indexForm {
    width: 100%;
    margin-top: 10px;
}