.thInner {
    height: 200px;
}

.thId {
    width: 5%;
}

.thTitle{
    word-break: break-all;
    width: 15%;
}

.thBody {
    width: 30%;
    word-break: break-all;
}

.thImg {
    width: 30%;
}

.thOptions {
    width: 10%;
}